#card{
    max-width: 250px;
    height: min-content;
    text-align: left;
    flex: 1 0 100%;
    margin-top: 20px;
    
}
.linethrough{
    text-decoration: line-through;
}

h6{
    color: gray;
}
.right{
  float: right;
   color: black;
   font-size: small;
}
