#card{
    max-width: 220px;
    height: min-content;
    text-align: left;
    flex: 1 0 100%;
    
   
    
    
}
div.card-columns{
    padding-left: 150px;
    padding-right: 0;
}
img.card-img-top {
    
    margin-top: 10px;
   
}
div.card-body{
    background-color: #fff;
    margin-bottom: 20px;
}
.linethrough{
    text-decoration: line-through;
}

.carddesign{
    color: grey;
    margin-top: 15px;
    font-weight: normal;
}
.right{
  float: right;
   color: black;
   font-size: small;
}
div#card.card.card{
    margin: 0;
}

div.card-body{
    padding-top: 15px;
}

