select{
    text-align:  right;
    background-color: #ebe9e5;
    display: inline-block;
    border: none;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    
}

body{
    overflow-x: hidden;
}

div.card-columns{
    
    margin-bottom: 20px;
    width: 100%;
    flex-wrap: wrap;
    
}
.wrap-cards{
    padding-top: 10px;
    padding-bottom: 10px
}

.pink{
    background-color: #393e46;
    color: white;
    
}
