#paintingDetails{
    text-align: left;
    padding-top: 20px;

}
#price{
    font-weight: 900;
    
}
#sold{
    font-weight: bolder;
    color: red;
    
}
[variant="secondary"]{
    margin-top: 10px;
    margin-left: 10px;
}
#ppage{
    background-size: cover;
}
img{
    padding-top: 20px;
    width: 90%;
}
body{
    overflow-wrap: normal;
}