#paintingDetails{
    text-align: left;

}
#price{
    font-weight: 900;
    
}
#sold{
    font-weight: bolder;
    color: red;
    
}
[variant="secondary"]{
    margin-top: 10px;
    margin-left: 10px;
}
#ppage{
    background-size: cover;
}
img{
    width: 90%;
}
body{
    overflow-wrap: normal;
}