@import url('//db.onlinewebfonts.com/c/2d8cf0a1ae3cf90fc45730a9e56b1db2?family=GD+Boing');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

@font-face {
  font-family: Recursive;
  src: url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
}
body {
  margin: 0;
  font-family:Recursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Recursive', sans-serif;
}
form span{
  font-size: 80%;
  color:red;
  margin-bottom: 10px;
  display: inline-block;
}